{% render 'shogun-products', content: page %}

<div class="page-width">
  
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>

  
</div>


