<div class="about--hero" ></div>

<div class="page-width">
  <h1 class="text-center team--heading">{{ page.title }}</h1>
  <hr class="red" />
  <div class="grid">
      <div class="grid__item large-up--one-half small--hide">
        <div class="relative">  
          <div class="about-one ">
            <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-one.png?2032" class="about-one-img " />
          </div>
          <div class="about-two">
            <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-two.png?2032" class="about-two-img" />
          </div>
        </div>
      </div>
      <div class="grid__item large-up--one-half  about--padding ">
        <p>The idea behind Phase 5 Wakesurf Boards began over 30 years ago, and we have been perfecting this idea with our sister company Zap Skimboards ever since people starting riding our boards behind boats.</p>
        <p>Our company has listened to the desires of wakesurfers everywhere and combined them with the technology of building skimboards to perfect a finned board that would allow you to ride freely behind a wake boat. Whether you’re a seasoned veteran or a wakesurf beginner, we have the board for you. With over thirty years of smooth rides on our Phase 5 boards we are confident in the fact that we have one of the very best wakesurf boards on the market today.</p>
      </div>
      <div class="grid__item small medium-up--hide about--padding">
         <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-one.png?2032" class="about-one-img" />
      </div>
  </div>
  
  <h1 class="text-center team--heading margin--top">Why Ride Phase Five?</h1>
  <hr class="red" />
  <div class="grid">
	<div class="grid__item large-up--one-half  about--padding ">
      <p>We’ve been a rider owned and operated company in Venice, Florida, creating wake surf boards longer than anyone else out there. Every Phase 5 board made here passes through the hands of some of the most skilled and meticulous people in the industry, who help us maintain our extremely high standards. We take pride in the work done here, every step of our build process is handled by the hard working, talented people we are proud to call employees and friends. The guys designing, shaping, and building your boards are the same guys that are on the water competing and riding, and thanks to them we’ve brought home over 10 world titles in our time as a company. From conception to delivery, every board is held to our impeccable Phase 5 standard.</p>
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-six.png?3092" class="medium large-up--hide" />

    </div>
    <div class="grid__item large-up--one-half small--hide">
    	<div class="relative">  
        	<div class="about-one ">
            	<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-three.png?2979" class="about-one-img medium-down--hide" />
        	</div>
        	<div class="about-two">
            	<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-six.png?3092" class="about-two-img medium--hide" />
	        </div>
        </div>
    </div>
  </div>
  
  <div class="grid about-crest--bar">
    <div class="relative">
      <div class="about-crest">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/about-crest.png?2032" />
      </div>
      <hr class="grey" />
    </div>
  </div>
  

</div>

