<div class="foil--hero" ></div>

  
<div class="page-width">
  <div class="grid">
      <div class="grid__item medium-up--one-half about--padding">
        <h1 class="foil--heading">2020 PHASE FIVE NOVA FOIL</h3>
        <hr class="blue" />

		<ul class="blue-list">
          <li>New Light Weight Carbon Wing Finish</li>
          <li>Large 760 Front Wing Increases Overall Lift and Stability</li>
          <li>24" Aluminum Mast </li>
          <li>Neoprene Wing Covers</li>
          <li>Compartmentalized Carry Case</li>
          <li>Optional 18" Aluminum Mast Available for Beginners</li>
        </ul>

      </div>
      <div class="grid__item medium-up--one-half">
        <div class="relative">    
			<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/nova_foil.png?2569" class="foil--img" />
        </div>
      </div>
  </div>
  
</div>
<section class="margin--top--foil">
<div class="grid grid--no-gutters ">
  <div class="grid__item medium-up--one-half img--container"><img src="https://cdn.shopify.com/s/files/1/0070/1582/files/foil-one.png?2579" /></div>
  <div class="grid__item medium-up--one-half img--container"><img src="https://cdn.shopify.com/s/files/1/0070/1582/files/foil-two.png?2579" /></div>
</div>
</section>


<div class="page-width margin--top--sm">
  <div class="grid page-width">
      <div class="grid__item medium-up--one-half small--hide">
  		<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/gizmo-foil.png?2665" class="foil-board" />
      </div>
      <div class="grid__item medium-up--one-half about--padding-large">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/gizmo-logo.png?2665" />
        <h2 class="foil--heading">2020 GIZMO FOIL PACKAGE</h3>
   		<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/gizmo-foil.png?2665" class="foil-board small medium-up--hide" />

        <p>The Gizmo is a foil specific machine designed to surf small wakes and waves. The Gizmo comes equipped with optional foot straps for aggressive riding, or as a training assist for first time foilers. The Phase Five design team made sure the Gizmo can handle whatever is thrown at it. Strong, light, and stiff makes the Gizmo stand out in a crowd and delivers everything foilers of all skill levels will appreciate.</p>
        <a class="btn btn--blue" href="https://phase5boards.com/pages/20-boards-gizmo">
      		SHOP NOW
  		</a>
      </div>

  </div>
  <hr class="grey" />
  
    <div class="grid page-width">

      <div class="grid__item medium-up--one-half about--padding-large">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/chip-logo.png?2665" />
        <h2 class="foil--heading">2020 CHIP FOIL PACKAGE</h3>
    	<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/520CHIPB_chip-cropped.png?3125" class="small medium-up--hide" />
        
        <p>The Chip is the second installment of foil specific boards into the line.  Many experienced foilers are gravitating to smaller sized boards since the need of a larger board is rendered useless once the rider is on foil.  The Chip is ready to deliver yet another entirely new foiling experience. The sensation of flying across the water without seeing the nose of a board underneath is awesome.</p>
        <a class="btn btn--blue" href="https://phase5boards.com/pages/20-boards-chip">
      		SHOP NOW
  		</a>
      </div>
       <div class="grid__item medium-up--one-half small--hide">
			<img src="https://cdn.shopify.com/s/files/1/0070/1582/files/520CHIPB_chip-cropped.png?3125" />
      </div>
  </div>
</div>