<div class="team--hero"></div>

<div class="page-width--lg">
    <div class="text-center page-width">
        <h1 class="emphasized-title-wrapper team--heading">Phase Five Team Riders</h1>
        <hr style="border: 0; margin: 0 auto 1.5rem; width: 10%; border-top: 8px solid rgba(245, 0, 0, 1);" />
        <p class="product-single__price">Team Phase Five is a main pillar of the P5 brand. We look to our world 
          class team roster for inspiration and are grateful to have the following wakesurfers choose to represent Phase Five.
      </p>
    </div>
    <div class="background--white">
        <div class="grid">
            <div class="grid__item medium-up--one-half">
                <a href="https://phase5boards.com/pages/drew-danielo">
                    <div class="img--container">

                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-drew.png?v=1606948458"
                            alt="Drew Danielo" />
                        <div class="img--absolute">
                            <h2 class="team no-margin">DREW DANIELO</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Elite Pro Team</div>
                        </div>

                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
             <div class="grid__item medium-up--one-half">
                <a href="https://phase5boards.com/pages/john-akerman">
                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-john.png?v=1606948459"
                            alt="JOHN AKERMAN" />
                        <div class="img--absolute">
                            <h2 class="team">JOHN AKERMAN</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Elite Pro Team</div>
                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="grid">

           
            <div class="grid__item medium-up--one-half">
                <a href="https://phase5boards.com/pages/parker-payne">
                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-parker.png?v=1606948519"
                            alt="PARKER PAYNE" />
                        <div class="img--absolute">
                            <h2 class="team">PARKER PAYNE</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Elite Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
          <div class="grid__item medium-up--one-half">
                <a href="https://phase5boards.com/pages/sean-silveira">
                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-sean.png?v=1606948458"
                            alt="SEAN SILVERIA" />
                        <div class="img--absolute">
                            <h2 class="team">Sean Silveira</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Elite Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
        
      
      
      </div>
      <div class="grid">  
      <div class="grid__item medium-up--one-half">
                <a href="https://phase5boards.com/pages/nick-parros">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-nick.png?v=1606948457"
                            alt="NICK PARROS" />
                        <div class="img--absolute">
                            <h2 class="team">NICK PARROS</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Elite Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
      <div class="grid__item medium-up--one-half">
                <a href="https://www.instagram.com/staciabank/" target="_blank">
                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-stacia.png?v=1607008042"
                            alt="STACIA BANK" />
                        <div class="img--absolute">
                            <h2 class="team">STACIA BANK</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
        
      
      </div>
      
      
      
      <div class="grid">
        
        <div class="grid__item medium-up--one-half">
                <a href="https://instagram.com/whitley.stewart/" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-whitley.png?v=1606948453"
                            alt="WHITLEY STEWART" />
                        <div class="img--absolute">
                            <h2 class="team">Whitley Stewart</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
            <div class="grid__item medium-up--one-half">
                <a href="https://www.instagram.com/sebastienballand/" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/sebastian-team.png?1966"
                            alt="SEBASTIAN BALLAND" />
                        <div class="img--absolute">
                            <h2 class="team">Sebastien Balland</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
            


        </div>
        
        <div class="grid">
            <div class="grid__item medium-up--one-half">
                <a href="https://www.instagram.com/markus.l__/" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/markus-team.png?1967"
                            alt="MARKUS LAHMER" />
                        <div class="img--absolute">
                            <h2 class="team">MARKUS LAHMER</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
            <div class="grid__item medium-up--one-half">
                <a href="https://www.instagram.com/carowakesurf/" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/caroline-team.png?1967"
                            alt="CAROLINE VILLANUEVE" />
                        <div class="img--absolute">
                            <h2 class="team">Caroline Villeneuve</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
          


        </div>
      <div class="grid">
            
            <div class="grid__item medium-up--one-half">
                <a href="https://instagram.com/thecamillegoodwin/" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-camille.png?v=1606948459"
                            alt="CAMILLE GOODWIN" />
                        <div class="img--absolute">
                            <h2 class="team">Camille Goodwin</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
          <div class="grid__item medium-up--one-half">
                <a href="https://instagram.com/ashley_inloes" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-ashley.png?v=1606948459"
                            alt="ASHLEY INLOES" />
                        <div class="img--absolute">
                            <h2 class="team">Ashley Inloes</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>


        </div>
      <div class="grid">
            
            <div class="grid__item medium-up--one-half">
                <a href="https://www.instagram.com/allisonrainn3" target="_blank">

                    <div class="img--container">
                        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/team-allison.png?v=1607024866"
                            alt="ALLISON HANSEN" />
                        <div class="img--absolute">
                            <h2 class="team">Allison Hansen</h2>
                            <div class="white-text team--bio all-caps barlow--bold">Pro Team</div>

                        </div>
                        <div class="img--overlay"></div>
                    </div>
                </a>
            </div>
          


        </div>
    </div>


</div>
<div class="page-width--lg">
    <div class="grid team--name">
        <div class="grid__item medium-up--one-half">
            <h3>AMATEUR TEAM</h3>
            <div class="grid">
                <div class="grid__item medium-up--one-half ">
                    <ul>
                        <li>Garret Ashby</li>                       
                        <li>Isaac Hockley</li>
                        <li>Vance Randall</li>
                        <li>Keira Randall</li>
                        <li>Chris Hau</li>
                        <li>Ryder Duczek</li> 
                        
                    </ul>
                </div>
                <div class="grid__item medium-up--one-half">
                    <ul>                                                                      
                        <li>Dagan Duczek</li>
                        <li>Reed Cole-Tucker</li>
                        <li>Afton Bank</li>
                        <li>Jett Lambert</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item medium-up--one-half padding-left">
            <h3>FLOW TEAM</h3>
            <div class="grid">
                <div class="grid__item medium-up--one-half">
                    <ul>
                        <li>Leland Watkins</li>
                        <li>Julie Vasselin</li>
                        <li>Alexander Azzi</li>
                        <li>Shane Blanton</li>
                        
                        
                        <li>Jamie Drew</li>
                    </ul>
                </div>
                <div class="grid__item medium-up--one-half">
                    <ul>
                        
                        <li>Lara Latham</li>
                        <li>Jake Borton</li>
                        <li>Eric Grindland</li>
                        <li>Trevor Grindland</li>
                        
                        

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>